.pagebody {
    background-color:#204d48;
}
.header{
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:20px;
    float:left;
}
.headerdiv {
    background-color:#955f31;
    border-right:5px solid;
    border-radius:5px;
    height:79px;
    margin:0px;
}
.aboutme{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    border:2px solid;
    padding:10px;
    background-color:#987d66;
    border-radius: 15px;
}
.footer {
    background-color: #233237;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    overflow:hidden;
}
.topnav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    color: black;
    text-decoration: none;
    height: 16px;
    padding:31.5px 15px;
    font-size:16px;
}
.topnav:hover {
    background-color:#a57c57;
}
.linkcancel {
    color:black;
    text-decoration:none;
}